    body {
        color: white;
    }
    
    .back {
        margin-left: 2vh;
        margin-top: 5vh;
        margin-bottom: -5vh;
        a {
            text-decoration: none;
            color: white;
            font-size: 20px;
            font-weight: 700;
        }
    }
    
    .content {
        display: flex;
        background-color: #000;
        border: 1px solid #400303;
        box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.733);
        padding: 30px;
        font-size: 18px;
        width: 95%;
        margin-top: 12vh;
        margin-left: 2vh;
        &__container {
            margin: 10px;
            border-left: 1px solid #400303;
            padding: 10px;
        }
        &__container:first-child {
            border: none;
        }
        &__title {
            margin-left: 30px;
            color: rgb(170, 170, 170);
        }
        &__item {
            margin-bottom: 10px;
        }
    }